<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>

<script>$('.message .close')
		.on('click', function () {
			$(this)
				.closest('.message')
				.transition('fade')
				;
		})
		;
		
		
</script>
</body>

</html>