<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>plug.dj</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
	<link rel="stylesheet" href="custom.css">
	<script src="/socket.io/socket.io.js"></script>
	<script async src="https://www.youtube.com/iframe_api"></script>
</head>
<body class="container-fluid">
	
	<div class="ui inverted segment menu">
		<div class="ui inverted secondary pointing menu">
			<a href="/" class="item">
				Plug.dj
			</a>
			<a href="/" class=" active item">
				Accueil
			</a>
		</div>
		<div class="right menu">
			<% if (locals.username) { -%>
			<a class="item"><button onClick="$('#room').modal('show');" class="ui inverted green button">Creer une room</button></a>
			<a href="/logout" class="item"><button class="ui inverted red button">Se deconnecter</button></a>
			<% }else { -%>
			<a class="item"><button onClick="$('#connect').modal('show');" class="ui inverted blue button">Se connecter</button></a>
			<a class="item"><button onClick="$('#register').modal('show');" class="ui inverted blue button">S'enregistrer</button></a>
			<%}%>
		</div>
	</div>
	<%  if (locals.message && message[0]!="") { -%>
		<div class="ui message <%=message[0]%>">
			<i class="close icon"></i>
			<div class="header">
				<%=message[1]%>
			</div>
			<p><%=message[2]%></p>
		</div>
	<% } -%>
	<div class="ui mini modal" id="room">
		<form action="/" method="POST">
			<div class="ui big form">
				<div class="field">
					<label for="name">Nom de votre room</label>
					<input class="form-control" type="text" name="name" id="name">					
				</div>
				<div class="field">
					<label for="description">Description de votre Room</label>
					<textarea rows="2" name="description" id="description"></textarea>
				</div>
				<hr>
				<button type="submit" class="ui blue big button">Creer une room</button></a>
			</div>
		</form>
	</div>
	<div class="ui mini modal" id="connect">
		<form action="/connect" method="POST">
			<div class="ui big form">
				<div class="field">
					<label for="pseudo">Pseudo</label>
					<input type="text" name="pseudo" id="pseudo">					
				</div>
				<div class="field">
					<label for="pass">Mot de passe</label>
					<input type="password" name="pass" id="pass">
				</div>
				<hr>
				<button type="submit" class="ui blue big button">Se connecter</button></a>
			</div>
		</form>
	</div>
	<div class="ui mini modal" id="register">
		<form action="/register" method="POST">
			<div class="ui big form">
				<div class="field">
					<label for="username">Pseudo</label>
					<input class="form-control" type="text" name="username" id="username">					
				</div>
				<div class="field">
					<label for="email">Email</label>
					<input type="text" name="email" id="email">
				</div>
				<div class="field">
					<label for="password">Mot de passe</label>
					<input type="password" name="password" id="password">
				</div>
				<hr>
				<button type="submit" class="ui blue big button">Creer un compte</button></a>
			</div>
		</form>
	</div>
	