<%- include('partials/head')%>
<!-- recuperer l'id de la room ici pour creer une room io -->
<h2 class="ui centered grid">Bienvenue sur la room <%=room%></h2><br>
<hr>
<div class="field">
		<div class="ui red label">
			<label class='white' for="music">Lien youtube</label>
		</div>
	</div>
			<div class="ui input">
				<input type="text" name="music" id="music">
			</div>
	<button class="ui red button" id="ebfei">Lancer une playlist</button>
<hr><br>
<div class="ui centered grid" id="player">

</div>
<script>
	let socket= io('',{query:"room="+"<%=room%>"});

	document.getElementById('ebfei').addEventListener('click',(e)=>{
		socket.emit('video',document.getElementById('music').value);
		document.getElementById('music').value = "";
	});
	socket.on('video',function(url){
		//player youtube

		console.log(url);
	})
	</script>

<%-include('partials/foot')%>