<%- include('partials/head')%>
<!-- recuperer l'id de la room ici pour creer une room io -->
<h2 class="ui centered grid" style="color:#fff	">Bienvenue sur la room <%=room%></h2><br>
<hr>
<div class="field">
	<div class="ui red label">
		<label class='white' for="music">Lien youtube</label>
	</div>
</div>
<div class="ui input">
	<input type="text" name="music" id="music">
</div>
<button class="ui red button" id="ebfei">Lancer une playlist</button>
<hr><br>
<div class="ui centered grid">
	<div id="blbl">
	</div>
</div>
<script>
	document.getElementById('blbl').addEventListener('click', (e) => {
		e.preventDefault();
	})
	let playlist = [];
	var player;

	function onYouTubeIframeAPIReady() {

	}


	// 4. The API will call this function when the video player is ready.
	function onPlayerReady(event) {
		event.target.playVideo();
	}

	var done = false;
	function onPlayerStateChange(event) {
		if (event.data == YT.PlayerState.ENDED) {
			console.log('fin de musique');
			if (playlist.length) {
				player.loadVideoById(playlist[0])
			}
			playlist.shift();
		} else if (event.data == YT.PlayerState.CUED) {
			console.log('cued musique');
		}
		console.log('youtube player', player)
	}
	function stopVideo() {
		player.stopVideo();
	}

	//socket part
	let socket = io('', { query: "room=" + "<%=room%>" });

	document.getElementById('ebfei').addEventListener('click', (e) => {
		socket.emit('video', document.getElementById('music').value);
		document.getElementById('music').value = "";
	});

	//receptionner levenement join pour envoyer le player et player pour l'itegrer

	socket.on('video', function (url) {
		//player youtube
		if (!player) {
			player = new YT.Player('blbl', {
				height: '360',
				width: '620',
				videoId: url,
				playerVars: { 'controls': 0, 'iv_load_policy': 3, 'showinfo': 0, 'rel': 0 },
				events: {
					'onReady': onPlayerReady,
					'onStateChange': onPlayerStateChange
				}
			});
		} else {
			playlist.push(url);
		}
		console.log(url);
	})
</script>

<%-include('partials/foot')%>